<h1>Seznam přihlášených manažerů</h1>

<table class="registrations">
  <tr>
    <th>Jméno</th>
    <th>Název týmu</th>
    <th>Pohlaví</th>
    <th>Věk</th>
  </tr>

  <% @player.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.team %></td>
      <td><%= player.sex %></td>
      <td><%= player.age %></td>
    </tr>
  <% end %>
</table>

<br>

<div class="redirect"><%= link_to 'NOVÁ PŘIHLÁŠKA', new_register_path, :class => "new" %></div>
