<h1>Seznam přihlášených manažerů</h1>

<table class="registrations">
  <tr>
    <th class="name">Jméno</th>
    <th class="name">Název týmu</th>
    <th class="other">Pohlaví</th>
    <th class="other">Věk</th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td class="name"><%= player.name %></td>
      <td class="name"><%= player.team %></td>
      <td class="other"><%= player.sex %></td>
      <td class="other"><%= player.age %></td>
      <% if admin_signed_in? %>
        <td class="ref"><%= link_to 'Upravit', edit_register_path(player) %></td>
        <td class="ref"><%= link_to 'Odstranit', register_path(player), confirm: 'Opravdu chcete smazat tohoto manažera?', :method =>  :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>

<div class="redirect"><%= link_to 'NOVÁ PŘIHLÁŠKA', new_register_path, :class => "new" %></div>
