<h1>Evidované údaje</h1>

<h3>Jméno:</h3>
<p class="show">
  <%= @player.name  %>
</p><br><br>

<h3>Název týmu:</h3>
<p class="show">
  <%= @player.team %>
</p><br><br>

<h3>Pohlaví:</h3>
<p class="show">
  <%= @player.sex %>
</p><br><br>

<h3>Věk:</h3>
<p class="show">
  <%= @player.age %>
</p><br><br><br><br>

<div class="redirect"><%= link_to("ZPĚT NA SEZNAM PŘIHLÁŠENÝCH MANAŽERŮ", registers_path) %></div>
