<h1>Úprava evidovaných údajů</h1>

<div class="qualification">
  <h3>Jméno manažera: </h3><p><%= @competition.player.name %></p><br>
  <h3>Název týmu: </h3><p><%= @competition.player.team %></p><br>
  <h3>Pohlaví: </h3><p><%= @competition.player.sex %></p><br>
  <h3>Věk: </h3><p><%= @competition.player.age %></p>
</div>

<%= form_for @competition, :url => { :action => "update_first", :controller => "competitions" } do |f| %>
  <% if @competition.errors.any? %>
    <div class="error_message">
      <h2>Při úpravě se vyskytly tyto problémy:</h2>
      <ul>
        <% @competition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @competition.second_round = @competition.second_round %>
  <% @competition.third_round = @competition.third_round %>
  <% @competition.quarterfinal_round = @competition.quarterfinal_round %>
  <% @competition.semifinal_round = @competition.semifinal_round %>
  <% @competition.final_round = @competition.final_round %>

  <div class="body_form">
    <div class="form">
      <%= f.label :first_round, "Body za první kolo:" %>
      <div class="r"></div>
      <%= f.text_field :first_round %>
    </div>
    <div class="form_register">
      <%= f.submit "UPRAVIT" %>
    </div>
  </div>
<% end %>