<div class="round">
  <table>
    <tr>
      <td><a href="/competitions/first">První kolo</a></td>
      <td><a href="/competitions/second">Druhé kolo</a></td>
      <td><a href="/competitions/third">Osmifinále</a></td>
      <td><a href="/competitions/quarterfinal">Čtvrtfinále</a></td>
      <td><a href="/competitions/semifinal">Semifinále</a></td>
      <td><a href="/competitions/final">Finále</a></td>
    </tr>
  </table>
</div>

<h1>První kolo</h1>

<table class="competition">
  <% for n in 1..32 %>
    <% competition1 = Competition.find_by_draw((2*n) - 1) %>
    <% competition2 = Competition.find_by_draw(2*n) %>
    <% win1 = 0 %>
    <% win2 = 0 %>
    <% if competition1.first_round.to_s.to_i == competition2.first_round.to_s.to_i
      else
        if competition1.first_round.to_s.to_i > competition2.first_round.to_s.to_i
          win2 = 1
        else
          if competition1.first_round.to_s.to_i < competition2.first_round.to_s.to_i
            win1 = 1
          end
        end
      end %>
    <tr>
      <td id="typ1<%= win1 %>"><%= competition1.player.name %></td>
      <td id="typ1<%= win1 %>">( <%= competition1.player.team %> )</td>
      <td id="points1<%= win1 %>"><%= competition1.first_round %></td>
    </tr>
    <tr>
      <td id="typ0<%= win2 %>"><%= competition2.player.name %></td>
      <td id="typ0<%= win2 %>">( <%= competition2.player.team %> )</td>
      <td id="points0<%= win2 %>"><%= competition2.first_round %></td>
    </tr>
  <% end %>
</table>