<div class="round">
  <table>
    <tr>
      <td><a href="/competitions/first">První kolo</a></td>
      <td><a href="/competitions/second">Druhé kolo</a></td>
      <td><a href="/competitions/third">Osmifinále</a></td>
      <td><a href="/competitions/quarterfinal">Čtvrtfinále</a></td>
      <td><a href="/competitions/semifinal">Semifinále</a></td>
      <td><a href="/competitions/final">Finále</a></td>
    </tr>
  </table>
</div>

<h1>První kolo</h1>

<table class="competition">
  <% for n in 1..32 %>
    <% draw1 = Competition.find_by_draw((2*n) - 1) %>
    <% draw2 = Competition.find_by_draw(2*n) %>
    <tr>
      <td class="typ1<%= colorCompetitionClass(draw1, draw2) %>"><%= draw1.player.name %></td>
      <td class="typ1<%= colorCompetitionClass(draw1, draw2) %>">( <%= draw1.player.team %> )</td>
      <td class="points1<%= colorCompetitionClass(draw1, draw2) %>"><%= draw1.first_round %></td>
    </tr>
    <tr>
      <td class="typ0<%= colorCompetitionClass(draw2, draw1) %>"><%= draw2.player.name %></td>
      <td class="typ0<%= colorCompetitionClass(draw2, draw1) %>">( <%= draw2.player.team %> )</td>
      <td class="points0<%= colorCompetitionClass(draw2, draw1) %>"><%= draw2.first_round %></td>
    </tr>
  <% end %>
</table>