<h1>Hlavní soutěž</h1>

<p>Pokračujte výběrem z nabídky</p>

<div class="index">
  <ul>
    <li><%= link_to "První kolo", first_competitions_path %></li>
    <li><%= link_to "Druhé kolo", second_competitions_path %></li>
    <li><%= link_to "Osmifinále", third_competitions_path %></li>
    <li><%= link_to "Čtvrtfinále", quarterfinal_competitions_path %></li>
    <li><%= link_to "Semifinále", semifinal_competitions_path %></li>
    <li><%= link_to "Finále", final_competitions_path %></li>
  </ul>
</div>

<% if admin_signed_in? %>
  <div class="generate">
    <%= link_to "GENEROVAT HLAVNÍ SOUTĚŽ", generate_competition_competitions_path, :confirm => 'Pozor přemažete již vygenerovanou hlavní soutěž' %>
  </div>
<% end %>
