<h1>Hlavní soutěž</h1>

<p>Pokračujte výběrem z nabídky</p>

<div class="index">
  <ul>
    <li><%= link_to "První kolo", first_competitions_path %></li>
    <li><%= link_to "Druhé kolo", second_competitions_path %></li>
    <li><%= link_to "Osmifinále", third_competitions_path %></li>
    <li><%= link_to "Čtvrtfinále", quarterfinal_competitions_path %></li>
    <li><%= link_to "Semifinále", semifinal_competitions_path %></li>
    <li><%= link_to "Finále", final_competitions_path %></li>
  </ul>
</div>

<% # no =  [1..64].map{|i| i.to_a}.flatten %>
<% # @players = Player.qualified %>
<% # @players.each do |player| %>
  <%
       # index  = (1..1).map{ no[rand(no.length)] }.join
       # index = index.to_i
       # player.competition = Competition.new(:draw => index)
       # pole = [index]
       # no = no - pole
 %>
<% # end %>

