<div class="round">
  <ul>
    <li><%= link_to "První kolo", first_competitions_path %></li>
    <li><%= link_to "Druhé kolo", second_competitions_path %></li>
    <li><%= link_to "Osmifinále", third_competitions_path %></li>
    <li><%= link_to "Čtvrtfinále", quarterfinal_competitions_path %></li>
    <li><%= link_to "Semifinále", semifinal_competitions_path %></li>
    <li><%= link_to "Finále", final_competitions_path %></li>
  </ul>
</div>

<h1 class="competition">Semifinále</h1>

<div class="div_competition">
  <table class="competition">
    <% index = 0 %>
    <% for n in 1..2 %>
      <% draw1 = @competitions[(2*n) - 2] %>
      <% draw2 = @competitions[(2*n) - 1] %>
      <tr class="div<%= index = padding(index) %><%= color_and_comparison_semifinal(draw1, draw2) %>">
        <td class="points"><%= draw1.draw %></td>
        <td class="typ"><%= draw1.player.name %></td>
        <td class="typ">( <%= draw1.player.team %> )</td>
        <td class="points"><%= draw1.second_round %></td>
        <td class="points"><%= draw1.player.qualification.standings %></td>
      </tr>
      <tr class="div<%= index = padding(index) %><%= color_and_comparison_semifinal(draw2, draw1) %>">
        <td class="points"><%= draw2.draw %></td>
        <td class="typ"><%= draw2.player.name %></td>
        <td class="typ">( <%= draw2.player.team %> )</td>
        <td class="points"><%= draw2.second_round %></td>
        <td class="points"><%= draw2.player.qualification.standings %></td>
      </tr>
    <% end %>
  </table>
</div>