<h1>Kvalifikace</h1>

<table class="qualifications">
  <tr class="div_q">
    <th class="name">Jméno</th>
    <th class="week">1. týden</th>
    <th class="week">2. týden</th>
    <th class="week">3. týden</th>
    <th class="week">4. týden</th>
    <th class="total">Celkem bodů</th>
    <th class="standings">Pořadí</th>
  </tr>

  <% @qualifications.each do |qualification| %>
    <% qualification.save %>
    <% qualification1 = qualification.total %>
    <tr class="div_q<%= colorQualificationClass(qualification1) %>">
      <td class="name"><%= qualification.player.name %></td>
      <td class="week"><%= qualification.first %></td>
      <td class="week"><%= qualification.second %></td>
      <td class="week"><%= qualification.third %></td>
      <td class="week"><%= qualification.fourth %></td>
      <td class="total"><%= qualification.total %></td>
      <td class="standings"><%= qualification.standings %></td>
      <% if admin_signed_in? %>
        <td class="ref"><%= link_to 'Upravit', edit_qualification_path(qualification) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
