<h1>Kvalifikace</h1>

<table>
  <tr>
    <th>Jméno</th>
    <th>Název týmu</th>
    <th>1. týden</th>
    <th>2. týden</th>
    <th>3. týden</th>
    <th>4. týden</th>
    <th>Celkem bodů</th>
    <th>Pořadí</th>
  </tr>

  <% @player.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.team %></td>
      <td><%= player.qualification.first %></td>
      <td><%= player.qualification.second %></td>
      <td><%= player.qualification.third %></td>
      <td><%= player.qualification.fourth %></td>
      <td><%= player.qualification.total %></td>
      <td><%= player.qualification.standings %></td>
    </tr>
  <% end %>
</table>
