<h1>Kvalifikace</h1>

<table class="qualifications">
  <tr>
    <th class="name">Jméno</th>
    <th class="name">Název týmu</th>
    <th class="week">1. týden</th>
    <th class="week">2. týden</th>
    <th class="week">3. týden</th>
    <th class="week">4. týden</th>
    <th class="total">Celkem bodů</th>
    <th class="standings">Pořadí</th>
  </tr>

   <% @qualifications.each do |qualification| %>
    <% qualification1 = qualification.total %>
    <tr>
      <td class="name<%= colorQualificationClass(qualification1) %>"><%= qualification.player.name %></td>
      <td class="name<%= colorQualificationClass(qualification1) %>"><%= qualification.player.team %></td>
      <td class="week<%= colorQualificationClass(qualification1) %>"><%= qualification.first %></td>
      <td class="week<%= colorQualificationClass(qualification1) %>"><%= qualification.second %></td>
      <td class="week<%= colorQualificationClass(qualification1) %>"><%= qualification.third %></td>
      <td class="week<%= colorQualificationClass(qualification1) %>"><%= qualification.fourth %></td>
      <td class="week<%= colorQualificationClass(qualification1) %>"><%= qualification.total %></td>
      <td class="standings<%= colorQualificationClass(qualification1) %>"><%= qualification.standings %></td>
    </tr>
  <% end %>
</table>
