<h1>Kvalifikace</h1>

<table class="qualifications">
  <tr>
    <th id="name">Jméno</th>
    <th id="name">Název týmu</th>
    <th id="week">1. týden</th>
    <th id="week">2. týden</th>
    <th id="week">3. týden</th>
    <th id="week">4. týden</th>
    <th id="total">Celkem bodů</th>
    <th id="standings">Pořadí</th>
  </tr>

  <% @player.each do |player| %>
    <% player.qualification.summary %>
  <% end %>

  <% @player.each do |player| %>
    <% player.qualification.sort_ranking %>
   <% end %>

   <% @player = Player.all %>

   <% @player.each do |player| %>
    <% color = 1
       if player.qualification.standings > 64
         color = 2
       end %>
    <tr>
      <td id="name<%= color %>"><%= player.name %></td>
      <td id="name<%= color %>"><%= player.team %></td>
      <td id="week<%= color %>"><%= player.qualification.first %></td>
      <td id="week<%= color %>"><%= player.qualification.second %></td>
      <td id="week<%= color %>"><%= player.qualification.third %></td>
      <td id="week<%= color %>"><%= player.qualification.fourth %></td>
      <td id="week<%= color %>"><%= player.qualification.total %></td>
      <td id="standings<%= color %>"><%= player.qualification.standings %></td>
    </tr>
  <% end %>
</table>
