<h1>Kvalifikace</h1>

<table class="qualifications">
  <tr>
    <th id="name">Jméno</th>
    <th id="name">Název týmu</th>
    <th id="week">1. týden</th>
    <th id="week">2. týden</th>
    <th id="week">3. týden</th>
    <th id="week">4. týden</th>
    <th id="total">Celkem bodů</th>
    <th id="standings">Pořadí</th>
  </tr>

   <% @player.each do |player| %>
    <tr>
      <td id="name"><%= player.name %></td>
      <td id="name"><%= player.team %></td>
      <td id="week"><%= player.qualification.first %></td>
      <td id="week"><%= player.qualification.second %></td>
      <td id="week"><%= player.qualification.third %></td>
      <td id="week"><%= player.qualification.fourth %></td>
      <td id="total"><%= player.qualification.summary %></td>
      <td id="standings"><%= player.qualification.sort_ranking %></td>
    </tr>
  <% end %>
</table>
