<%= form_for @player, :url => { :action => "create", :controller => "registrations" } do |f| %>
  <% if @player.errors.any? %>
    <div class="error_message">
      <h2>Při registraci se vyskytly tyto problémy:</h2>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <%= f.label :name, "Jméno manažera:" %>
    <div class="r"></div>
    <%= f.text_field :name %>
  </div>
  <div class="form">
    <%= f.label :team, "Název týmu:" %>
    <div class="r"></div>
    <%= f.text_field :team %>
  </div>
  <div class="form">
    <%= f.label :sex, "Pohlaví:" %>
    <div class="r"></div>
    <%= f.select :sex, [["Muž", "M"], ["Žena", "Z"]], :prompt => "" %>
  </div>
  <div class="form">
    <%= f.label :age, "Věk:" %>
    <div class="r"></div>
    <%= f.text_field :age %>
  </div>
  <div class="form">
    <%= f.submit "REGISTROVAT" %>
  </div>

<% end %>