<h1>Přihlášení administrátora</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="body_form">
    <div class="form">
      <%= f.label :email, "Přihlašovací email:" %>
      <div class="r"></div>
      <%= f.email_field :email %>
    </div>

    <div class="form">
      <%= f.label :password, "Heslo:" %>
      <div class="r"></div>
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form">
        <%= f.check_box :remember_me %><%= f.label :remember_me, "Zůstat přihlášen" %>
      </div>
    <% end -%>

    <div class="form_admin">
      <%= f.submit "PŘIHLÁSIT SE" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
