<!DOCTYPE html>
<html>
<head>
  <title>TM-Open</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "rules", :media => "all" %>
  <%= stylesheet_link_tag    "registrations", :media => "all" %>
  <%= stylesheet_link_tag    "qualifications", :media => "all" %>
  <%= stylesheet_link_tag    "contacts", :media => "all" %>
  <%= stylesheet_link_tag    "competitions", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="headers">
  <div class="document_headers">
    <div class="logo">
      <div class="logo_img"><p class="text">TM OPEN</p></div>
    </div>
    <ul class="menu">
      <li><a href="/tm_open">TM Open</a></li>
      <li><a href="/rules">Pravidla</a></li>
      <li><a href="/registrations">Registrace</a></li>
      <li><a href="/qualifications">Kvalifikace</a></li>
      <li><a href="/competitions">Hlavní soutěž</a></li>
      <li><a href="/discussions">Diskuse</a></li>
    </ul>
  </div>
</div>

<div class="body">
  <%= yield %>
</div>

<div class="footers">
  <div class="text">
    <p class="copyright">Copyright all rights reserved 2012 BokyCZ</p>
    <p class="link">|</p>
    <a href="/help" class="reference">Help</a>
    <p class="link">|</p>
    <a href="/contacts" class="reference">Contact</a>
  </div>
</div>
</body>
</html>
