<!DOCTYPE html>
<html lang="en">
<head>
  <title>TM-Open</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "rules", :media => "all" %>
  <%= stylesheet_link_tag    "registers", :media => "all" %>
  <%= stylesheet_link_tag    "qualifications", :media => "all" %>
  <%= stylesheet_link_tag    "contacts", :media => "all" %>
  <%= stylesheet_link_tag    "competitions", :media => "all" %>
  <%= stylesheet_link_tag    "admins", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="headers">
  <div class="document_headers">
    <div class="logo">
      <div class="logo_img"><p class="text">TM OPEN</p></div>
    </div>
    <ul class="menu">
      <li><%= link_to("TM Open", '/tm_open') %></li>
      <li><%= link_to("Pravidla", rules_path) %></li>
      <li><%= link_to("Registrace", registers_path) %></li>
      <li><%= link_to("Kvalifikace", qualifications_path) %></li>
      <li><%= link_to("Hlavní soutěž", competitions_path) %></li>
      <li><%= link_to("Administrace", '/admins') %></li>
    </ul>
  </div>
</div>

<div class="body">
  <%= yield %>
</div>

<div class="footers">
  <div class="text">
    <p class="copyright">Copyright all rights reserved 2012 BokyCZ</p>
    <p class="link">|</p>
    <%= link_to("Help", '/help') %>
    <p class="link">|</p>
    <%= link_to("Contact", '/contact') %>
  </div>
</div>
</body>
</html>
